| <?php
| // Template Name: Blank page
| // Template Post Type: post, page
| ?>

include html.php 
//- include navbar.php 


<main id="primary" > 

include content.php 


</main>
  
include footer.php 

